/* Globlal styles Start */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: linear-gradient(60deg, #5ff281, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f)0 50%;
    --background-size: 300% 300%;
    --animation-properties: alternate-gradient 5s alternate infinite;
}
html{
    font-size:10px;
    /* font-family:"Roboto", sans-serif; */
    font-family: 'Raleway', sans-serif;
    color:#eee;
}
body{
    width: 100%;
    height:100%;
    background: linear-gradient(rgba(19, 22, 57, 0.9),rgba(27, 46, 79, 0.9)) ,url("images/laptop-bg.jpg") no-repeat center fixed;
    background-size: cover;
    color:#eee;
    
}
.openBody{
    overflow: hidden;
}
a{
    text-decoration: none;
    color:#eee;
    transition: color 650ms;
}
p{
    font-size:1.9rem;
    font-weight:400;
    font-family: 'Raleway', sans-serif;
    
}
section{
    padding:6rem 0;
}
img{
    width:100%;
}
/* Globlal styles End */
/* Reusable styles start */
.container{
width:90%;
max-width:120rem;
height: 100%;
margin : 0 auto;
position: relative;
}
.section-heading{
text-align:center;
margin-bottom:8rem;
}
.section-heading h1{
font-size:3.5rem;
color: rgba(255, 255, 255, .3);
text-transform:uppercase;
font-weight:300;
position: relative;
margin-bottom:1rem;
}
.section-heading h1::before,
.section-heading h1::after{
content: "";
position: absolute;

left:50%;
transform:translateX(-50%);
background-color: rgba(255, 255, 255, .75);
}
.section-heading h1::before{
width:10rem;
height:3px;
bottom: -.5rem;
border-radius: .8rem;
}
.section-heading h1::after{
width:1.5rem;
height:1.5rem;
border-radius: 100%;
bottom:-1rem;
}
.section-heading h6{
font-size:1.6rem;

font-weight:300;
position: relative;
margin-bottom:1rem;
}
.has-margin-right{
margin-right: 5rem;
}
/* Reusable styles End */
/* Header styles Start */
header{
width:100%;
height: 100vh;
}
.top-nav{
width:100%;
height:100vh;
position: fixed;
top:-100vh;
background-color: #16162d;
border-bottom-right-radius: 100%;
border-bottom-left-radius: 100%;
transition: all 650ms cubic-bezier(1,0,0,1);
z-index:50;
}

.nav-list{
list-style: none;
width:100%;
height: 100%;
display:flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
}
/* li{
margin:0 2rem;
} */

li{
margin:1.5rem 0;
}
.nav-link{
font-family: 'Special Elite', cursive,sans-serif ;
font-size:3.5rem;
padding: 1rem;
}
.nav-link:hover,
.nav-link:focus{
background: linear-gradient(to top, #ffe838, #fd57bf);
-webkit-background-clip:text;
background-clip: text;
color: transparent;
}
.top-nav.open{
top:0;
border-radius: initial;


}
.menu-toggler{
position : absolute;
top: 5rem;
right:5rem;
width: 5rem;
height: 4rem;
display: flex;
flex-direction: column;
justify-content: space-between;
cursor: pointer;
z-index: 1000;
transition: transform 650ms ease-out;
}
.menu-toggler.open{
transform: rotate(-45deg);
}
.bar{
background: linear-gradient(to right, #ffe838, #fd57bf);
width:100%;
height:4px;
border-radius: .8rem;
}
.bar.half{
width:50%;
}
.bar.start{
transform-origin: right;
transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open .bar.start{
transform:rotate(-450deg) translateX(0.8rem)
}
.open .bar.end{
transform: rotate(-450deg) translateX(-0.8rem);
}
.bar.end{
transform-origin: left;
align-self: flex-end;
transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.landing-text{
position: absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
width:100%;
text-align: center;
z-index:1;
/* animation: yagnesh 2s ease-in; */
}
.landing-text h1{
font-size:10rem;
font-family: 'Special Elite', cursive,sans-serif ;
background: linear-gradient(to top, #ffe838, #fd57bf);
-webkit-background-clip:text;
background-clip: text;
color: transparent;
padding: 1rem;
animation: yagnesh 2s ease-out;


}
@keyframes yagnesh{
0%{
   opacity: 0;
}
100%{
    opacity:1;
}
}
.landing-text h6 {
font-size: 2.5rem;
font-weight: 300;
}
.txt-type >.txt{
border-right: 0.2rem solid #777;
}
/* Header styles End  */

/* About styles Start */
.about .container{
display:flex;
justify-content: center;
align-items: center;
}
.about-heading{
text-align: center;
text-transform: uppercase;
line-height:0;
margin-bottom: 6rem;
}
.about-heading h1{
font-size:10rem;
opacity: .3;
}
.about-heading h6{
font-size: 2rem;
font-weight: 300;
}
.profile-img{
flex:1;
margin-right:5rem;
border-radius: 100%;
}
.about-detail{
flex:1;
}
.about-detail p{
letter-spacing: 1.1px;
}
.social-media{
margin-top:5rem;

}
.social-media .nav-list{
flex-direction: row;
}
.social-media i{
font-size: 5rem;
transition: color 650ms;

}
.fa-linkedin:hover{
color:#0073b1
}
.fa-codepen:hover{
color:#7e8081;
}
.fa-github:hover{
color:#97a4b1;
}
.fa-twitter-square:hover{
color:#38a1f3
}
/* About styles End */

/* Services styles start */
.my-skills{
margin-top: 10rem;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
grid-gap:2.5rem;
text-align: center;
position: relative;
}
.skill{
display:flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;
padding: 3rem;
position: relative;
}
.skill h1{
text-transform: uppercase;
letter-spacing: 2px;
margin:2rem -2px 2rem 0;
color: #db81c4;
font-size: 1.8rem;
font-weight: 500;
}
.icon-container{
width:10rem;
height:10rem;
border:3px solid #fff;
/* border:3px solid #ffe838; */
/* background-color: #fd57bf; */
background-color: #131c22;
margin-bottom: 2rem;
display: flex;
justify-content: center;
align-items: center;
transform: rotate(45deg);

}
.skill p{
letter-spacing:1.1px;
}
.icon-container i{
color: #ffe838;
font-size: 3.5rem;
margin:auto;
transform: rotate(-45deg);
}
/* ====================================================== */

.skill::before,
.skill::after{
content:"";
position:absolute;
}
.skill::before{
background-color: #151515;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.skill::after{
background: var(--background-color);
top:-3px;
left:-3px;
width:calc(100% + (3px*2));
height:calc(100% + (3px*2));
z-index: -2;
background-size: var(--background-size);
animation: var(--animation-properties);
}
.skill i{
/* font-size: 3rem; */
margin-bottom:2rem;
padding:1rem;
background: var(--background-color);
background-size: var(--background-size);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
animation: var(--animation-properties);
}
@keyframes alternate-gradient{
50%{
    background-position: 100% 50%;
}
}
/* Services styles end */
/* Portfolio styles start */

.portfolio-item{
display: flex;
align-items:center;
justify-content: center;
margin-bottom: 8rem ;
}
.portfolio-item:last-child{
margin-bottom: 0;
}
.portfolio-img{
flex:1;
width:50rem;
}
.portfolio-description{
flex:1;

}
.portfolio-description h6{
font-size: 1.6rem;
text-transform: uppercase;
font-weight: 300;
opacity: 0.5;

}
.portfolio-description h1{
font-size: 3rem;
font-weight: 300;
margin:1rem 0;
font-family: 'Special Elite', cursive,sans-serif ;
background: linear-gradient(to top, #ffe838, #fd57bf);
-webkit-background-clip:text;
background-clip: text;
color: transparent;

}
.portfolio-description .cta { 
    margin:2.5rem 1.2rem;
    font-size: 1.5rem;
    border-radius: .8rem;
    border: none;
    text-transform:uppercase;
    color:#fafafa;
    transition: color 650ms;
   background-color: #fd57bf;
}
.portfolio-description .cta .cta-link{
    padding: 1rem 2rem; 
    display: inline-block;
    margin: 0;
    border-radius: .8rem;
    border: none;
}
.portfolio-description .cta .cta-link i{
    margin-right: 0.5rem;
}
.portfolio-description .cta:hover,.portfolio-description .cta:hover > .cta-link{
color:#221e3f;
background-color: #ffe838;
cursor: pointer;
}

/* Portfolio styles end */
/* timeline styles start */
/* .time-line ul{
border-left:4px solid #ffe838;
border-radius: .8rem;
background-color: rgba(255, 255, 255, .05);
margin:0 auto;
position: relative;
padding: 5rem;
list-style: none;
text-align: left;
width:70%;
}
.time-line h1{
font-size:2rem;
text-transform: uppercase;
font-weight: 300;
margin-bottom: 1rem;
opacity:0.3;
}
.time-line .date{
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
margin-bottom: 1rem;
padding-bottom:1rem;
position: relative;
}
.time-line .date:last-of-type{
padding-bottom: 0;
margin-bottom: 0;
border:none;
}
.time-line .date::before,
.time-line .date::after{
position: absolute;
display: block;
top:50%;
transform: translateY( -50% );
}
.time-line .date::before{
content: attr(data-date);
left:-21rem;
text-align: center;
min-width: 12rem;
font-size: 1.5rem;
}
.time-line .date::after{
content: "";
box-shadow: 0 0 0 4px #fd57bf;
border-radius: 100%;
left:-8rem;
height: 1.5rem;
width:1.5rem;
background-color: #313534;
} */
/* timeline styles end */
/* Contact form styles start */
.contact{
background-color: #221e3f;
}
.contact-container{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.personal-info{
padding-bottom: 3rem;
}
.contact-info{
margin: 2rem auto;
width: 70%;
}
.personal-info i{
font-size:3.5rem;
margin-right:1rem;
vertical-align: middle;
}
.personal-info h6{
font-size:1.6rem;
letter-spacing: 1.3px;
padding-bottom:1rem;
}
form{

width:70%;
margin:0 auto;
}
form label{
font-size:1.5rem;
}
input,textarea,select{
width:100%;
padding:1rem;
margin-bottom:5px;
border:none;
outline-color: #fd57bf;
}
input[type="submit"] {
width:initial;
margin-top: 1rem;
background-color: #fd57bf;
color: #eee;
padding:1rem 2rem;
border-radius: .8rem;
cursor: pointer;
transition: background-color 650ms;
}
input[type="submit"]:hover{
color:#221e3f;
background-color: #ffe838;
}
/* Contact form styles end */
/* footer styles start */
.copyright{
width:100%;
text-align: center;
background-color: #16162d;
padding:2rem 0;
position: relative;
}
.copyright p{
font-size: 1.4rem;
}
.up{
position:absolute;
width: 5rem;
height:5rem;
background-color: #eee;
top:-2.5rem;
right:5rem;
border-radius: 100%;
display: flex;
animation: pulse 2s infinite;
cursor: pointer;
}
.up i{
color: #16162d;
font-size: 2rem;
margin:auto;
}
@keyframes pulse{
0%{
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
}
70%{
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
}
100%{
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
}
}
/* footer styles end */

/* media queries */

@media screen and (max-width: 850px){
body{
  
    background: linear-gradient(rgba(19, 22, 57, 0.9),rgba(27, 46, 79, 0.9)) ,url("images/laptop-bg.jpg") no-repeat center fixed;
    background-size: cover;
}
.landing-text h1{
    font-size: 6rem;
}
.landing-text h6{
    font-size:2.2rem;
}
.nav-list{
    flex-direction: column;
}

.nav-link{
    font-size: 3.2rem;
}
.about-heading h1{
    font-size:8rem;
}
.section-heading h1{
    font-size:3.4rem;
}
.about-detail .nav-list{
    flex-direction:initial;
}
.about-detail li{
    margin: 0 2rem;
}
.icon-container i{
    font-size:4rem;
}

.portfolio-description .cta {
    width:100%;
    margin:1.5rem 0;
}
.portfolio-description .cta .cta-link{
    width: 100%;
}
}
@media screen and (max-width:630px){
.menu-toggler{
    top:2rem;
    right:2rem;
}
img{
    width:80%;
}
.profile-img{
    text-align: center;
}
.landing-text h1{
    font-size:5.5rem;
}
.landing-text h6{
    font-size:2rem;
}
.about .container{
    flex-direction: column;
}
.profile-img{
    margin:0 0 7rem 0;
}
.portfolio-item{
    flex-direction: column;
    text-align: center;
}
.portfolio-img{
    margin:0 0 2rem 0;
    order:1;
   width:100%;

}
.portfolio-description{
    margin:0;
    order:2;
}

form{
    width:100%;
}
.up{
    right:2rem;
}
}

@media screen and (max-width:400px){


.menu-toggler{
    width:3.8rem
}
.open .bar.start{
    transform:rotate(-450deg) translateX(0.2rem)
}
.open .bar.end{
    transform: rotate(-450deg) translateX(-0.2rem);
}
.profile-img{
    align-self: center;
}


.about-heading h1 {
font-size:6rem;
}
.about-detail li {
margin: 0 1rem;
}
.social-media i {
font-size: 4rem;  
}
.portfolio-img{
width:28rem;
}
.contact-info{
width: 100%;
}
.personal-info i{
font-size: 2rem;
}
.personal-info p{
font-size: 1.5rem;
}
.personal-info h6{
font-size:1.6rem;
}
.nav-link{
font-size: 1.8rem;
}
}