*,
*::before,
*::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



:root {
    --primary-color: rgb(35, 44, 87);
    --secondary-color: rgb(230, 111, 7);
    --bc-color: rgb(225, 228, 242);
    --nc-color: #1e130c;

    --gc-color: #DAD299;
    /* fallback for old browsers */
    --gc-color: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);
    /* Chrome 10-25, Safari 5.1-6 */
    --gc-color: linear-gradient(to right, #B0DAB9, #DAD299);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;

    --fw-reg: 400;
    --fw-bold: 600;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
}

/* General styling */
html {
    scroll-behavior: smooth;
}

:focus {
    outline: none;
}

body {
    background: var(--gc-color);
    color: var(--primary-color);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    height: 100%;
    /* margin: 0 auto; */
}


a {
    text-decoration: none;
}

section {
    padding: 3rem 2rem;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 2px;
    transition: transform 200ms ease-in-out;
    background: var(--secondary-color);
    padding: 0.5em 1.5em;
    border-radius: 5px;
    /* margin-top: 2.5em; */
}

.btn:hover {
    transform: scale(1.1);
}

img {
    display: block;
    width: 100%;
}

/* Typograpy */
h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h1,
h2,
h3 {
    line-height: 1.6;
    margin: 0;
}

/* Navbar styling */
header {
    display: flex;
    justify-content: space-between;

}

.nav {
    position: fixed;
    background-color: var(--nc-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.nav__link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--fs-h1);
    font-weight: 300;
}

.nav__link:hover {
    color: var(--bc-color);
}

.nav-toggle {
    background: transparent;
    border: 0;
    padding: .5em;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

/* Hamburger icon */
.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: var(--secondary-color);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
}

.hamburger::before {
    top: 6px
}

.hamburger::after {
    bottom: 6px
}

.nav__list {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}

.logo {
    width: 100px;
}

.logo img {
    height: 5rem
}

/* Intro styling */

.intro {
    /* padding-bottom: 22em; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .home {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    text-align: center;
    padding-top: 5em;
}

.home h2 {
    font-weight: var(--fw-reg);
    align-self: end;
}

.home h3 {
    align-self: center;
    font-family: var(--ff-secondary);
}

.home .social {
    align-self: start;
}

.social i {
    transition: transform 100ms ease-out;
}

.social i:hover {
    color: var(--secondary-color);
    transform: scale(1.3);

}

.social a {
    padding: .5em;
}

.intro #job {
    display: inline-block;
    background-color: rgb(138, 122, 117);
    transform-origin: 35px 45px;
    transform: rotate(-10deg);
    border-radius: 5px;
    padding: 0px 5px;
}


/* my services */
.about {
    background-color: var(--primary-color);
    background-image: url("./image/nesa-by-makers-tWjzmNXKup4-unsplash.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    display: grid;
    grid-template-rows: 100px 200px 55rem;
    /* grid-template-rows: 12.5rem 20rem minmax(55rem, 80rem); */
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
    grid-template-areas: "title ."
        "image bio"
        "service service"
}

.bio-title {
    grid-area: title;
    justify-self: center;
    align-self: start;
    color: var(--bc-color);
}

#me {
    color: var(--secondary-color);
}

.bio {
    grid-area: bio;
    align-self: center;
    padding-left: 1em;
    padding-right: 1em;
}

.bio h3 {
    color: var(--secondary-color);
}

.bio p {
    color: var(--bc-color);
}

.bio a {
    color: var(--secondary-color);
}

#myPic {
    width: 40%;
    height: 100%;
    grid-area: image;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
}

.my-services {
    grid-area: service;
    color: var(--bc-color);
    text-align: center;
    margin-top: 5rem;
    display: grid;
    grid-template-rows: repeat(3, auto);
    /* auto 1fr auto */
    padding-bottom: 0;
}

.btn__work {
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-self: center;
    justify-self: center;
}

.my-services .services__title {
    color: var(--secondary-color);
    position: relative;
}

.my-services h1::after {
    content: "";
    display: block;
    width: 15%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--secondary-color)
}

.services {
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.service h3 {
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
}

.service {
    margin: 0 auto;
    background-color: rgba(17, 29, 85, 0.76);
    padding: 1.5rem;
    /* padding: 10px; */
    border-bottom: 3px solid var(--secondary-color);
    border-radius: 5px;

}

/* Projects */
.work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.card {
    height: 200px;
    width: 100%;
    background-image: url("./image/filiberto-santillan-1HCb2gPk3ik-unsplash.jpg");
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    position: relative;
    z-index: 1;
    border: 3px var(--secondary-color) solid;

}

#card1 {
    background-image: url("./image/filiberto-santillan-1HCb2gPk3ik-unsplash.jpg");
}

#card2 {
    background-image: url("./image/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
}


.project__text,
.project__tech {
    display: block;
    color: transparent;
    transition: color 250ms ease-in 250ms;
}

.card:hover .project__text {
    color: rgb(101, 243, 7);
}

.card:hover .project__tech {
    color: red;
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(230, 111, 7, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 200ms ease-in;
    transform: scaleX(0);
    transform-origin: right;
}

.card:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.project__github,
.project__link {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;

}

.project__github:hover,
.project__link:hover {
    background-color: var(--secondary-color);
    font-weight: var(--fw-bold);
    transition: background-color 250ms ease-out;
}

/* Contact */

.contact {
    padding: 2em 2em;
    background-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: var(--fs-body)
}

.contact .detail {
    padding-top: 1em;
}

.secondary-color {
    color: var(--secondary-color);
    font-weight: var(--fw-bold);
}

/* footer */
.footer {
    background-color: rgba(194, 129, 44, 0.993);

    text-align: center;
}

/* for smartphone */
/* @media screen and (max-width: 350px) {
    .home h3 {
        display: block;
    }

    #job {
        display: block;
        transform: rotate(0deg);
        transform-origin: 35px 45px;
        width: 200px;
        margin: 0 auto;
    }
} */

@media screen and (max-width: 500px) {
    :root {
        --fs-h1: 2.2rem;
        --fs-h2: 1.75rem;
        --fs-h3: 1.3rem;
        --fs-body: 1rem;
    }



    .contact {
        font-size: 16px;
    }

}

@media screen and (max-width: 850px) {
    .about {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .about div,
    .about img {
        margin-top: 1em;
    }

    .bio-title {

        justify-content: center;
        align-self: center;

    }

    #myPic {
        order: -1;
    }

    .bio-title {
        order: -2;
    }

    section {
        padding: 3em 1em;
    }

    .services {
        display: flex;
        flex-direction: column;

    }

    /* .my-services {
        display: grid;
        grid-template-rows: auto 75% auto;
        padding-bottom: 15px;
    } */

    .service {
        margin-top: 2em;

    }

    .work {
        display: flex;
        flex-direction: column;
        margin: 2em auto;
    }

    .project__item {
        margin: 2em 2em;
    }
}

@media screen and (min-width: 851px) and (max-width: 1440) {
    :root {
        --fs-h1: 3.7rem;
        --fs-h2: 2.75rem;
        --fs-h3: 2.3rem;
        --fs-body: 1.2rem;
    }

    /* .my-services {
        display: grid;
        grid-template-rows: auto 80% auto;
        padding-bottom: 0;
    } */
}

@media screen and (min-width: 1450px)and (max-width: 3000px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 2.7rem;
        --fs-h3: 2.2rem;
        --fs-body: 1.5rem;
    }

    .about {
        display: grid;
        grid-template-rows: 12.5rem 20rem 80rem;
    }

    .card {
        height: 40vh;
    }

    /* .my-services {
        display: grid;
        grid-template-rows: auto 60% auto;
        padding-bottom: 0;
    } */
}

/* Project styling */